<section class="row" id="quotes-forms">

	<div id="quote-screen-tabs" class="text-section">
		<ul>
			<li><a href="#quote-details-tab">Details</a></li>
			<li><a href="#quote-items-tab">Items</a></li>
			<li><a href="#quote-analysis-tab">Analysis</a></li>
			<li><a href="#quote-notes-tab">Notes</a></li>

			<button id="back-button" class="regular-button" data-tooltip="Back"><a href="/quotes"><i class="fa fa-caret-left fa-2x"></i></a></button>
			<button id="print-button" class="progress-button regular-button" onclick="showReportTemplateSelection()" <%= "disabled" unless reports_enabled? %> data-tooltip="Print"><i class="fa fa-print fa-2x"></i></button>
			<% if @access_rights["quotes_email"] %>
			<button id="email-button" class="progress-button regular-button" onclick="showReportTemplateSelectionForEmail()" <%= "disabled" unless reports_enabled? %> data-tooltip="Email"><i class="fa fa-envelope fa-2x"></i></button>
			<% end %>
			<% if @access_rights["quotes_edit"] %>
			<button id="quote-save-button" class="save-button" data-tooltip="Save"><i class="fa fa-save fa-2x"></i></button>
			<% end %>
			<% unless params[:action] == "new" || @quote.is_invoiced? %>
				<% if @access_rights["quotes_order"] %>
				<button id="create-order-button" class="regular-button"><%= @quote.xid_contract ? "REASSIGN" : "ORDER" %></button>
				<% end %>
				<% if @access_rights["quotes_invoice"] %>
				<button id="invoice-button" class="regular-button"<%= " disabled" unless @quote.has_contract? %>>INVOICE</button>
				<% end %>
			<% end %>
		</ul>
		<div id="quote-details-tab">
			<%= render "details" %>
		</div>
		<div id="quote-items-tab">
			<section class="row right-aligned">
				<button class="progress-button save-button" onclick="addNewQuoteItem()">Add Item</button>
				<button class="progress-button delete-button" onclick="deleteQuoteItems();">Delete Item</button>
			</section>

			<section class="row">
				<table id="quote-items-grid">
					<thead>
						<tr>
							<th>Stock Code</th>
							<th>Description</th>
							<th>Long Description</th>
							<th>Quantity</th>
							<th>Price (£)</th>
							<th>Discount (%)</th>
							<th>Net (£)</th>
							<th>Vat Rate (%)</th>
							<th>VAT (£)</th>
							<th>Total (£)</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</section>
		</div>
		<div id="quote-analysis-tab">
			<%= render "analysis" %>
		</div>
		<div id="quote-notes-tab">
			<form action="" class="stacked-form" onsubmit="return false;" style="overflow: hidden;">
				<label for="quote-note">New note</label>
				<textarea name="" id="new-quote-note" cols="30" rows="10"></textarea>
				<button id="add-quote-note-btn">Add Note</button>
			</form>

			<div id="quote-notes-list">
				<% @notes.each do |note| %>
				<div class="quote-note">
					<h4><%= note.created_at.strftime("%d/%m/%Y at %T") %> <span>(<%= note.user %>)</span></h4>
					<p>
						<%= note.note %>
					</p>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>

<%= render "reportselectiondialog" %>
<%= render "reportselectiondialogforemail" %>

<div id="add-customer-dialog" title="New Customer" style="display: none;">
	<%= render "customerdetailsform" %>

	<section class="right-aligned" style="clear: both; padding-top: 10px;">
		<button id="new-customer-save-button" class="save-button">
			Add Customer
		</button>
	</section>
</div>

<%= render "siteaddressdialog" %>

<div id="invoice-dialog" title="Invoice Quote" style="display: none;">
	<form action="" class="aligned-form" style="width: 300px;" onsubmit="return false;">
		<div style="float: left; width: 50%;">
			<input type="checkbox" id="sage-post-checkbox">
			<label for="sage-post-checkbox">Post to sage</label>
		</div>

		<div style="float: left; width: 50%;">
			<input type="checkbox" id="headers-only-checkbox" checked>
			<label for="headers-only-checkbox">Headers only</label>
		</div>

		<hr>

		<button id="full-invoice-button" class="save-button full-width">
			Full Invoice
		</button>
		<!--
		THIS IS ON THE BACK BURNER. PART INVOICING WILL BE DONE AFTER
		THE CONTRACT SCREEN IS FINISHED.

		<div class="or-divider"></div>

		<table class="invoiceable-items"></table>

		<button id="invoice-by-quantities-button" class="save-button full-width">
			Part Invoice by <strong>Quantities</strong>
		</button>

		<div class="or-divider"></div>

		<label for="invoice-value">Amount</label>
		<input type="text" id="invoice-value" style="width: 100%;">

		<button id="invoice-by-value-button" class="save-button full-width">
			Part Invoice by <strong>Value</strong>
		</button>
		-->
	</form>
</div>