<div id="template-select-dialog-for-email" class="mail-content-box" title="Email quote" style="display: none;">
	<form onsubmit="return false;" class="stacked-form">
		<h4>Recipients</h4>

		<fieldset>
			<label for="to_addresses">To</label>
			<textarea name="to_addresses" id="to_addresses" cols="30" rows="5"><%= quote_to_recipients unless @quote.customer.nil? %></textarea>
		</fieldset>
			
		<fieldset>
			<label for="cc">CC</label>
			<textarea type="text" id="cc" name="cc" placeholder="CC"><%= @mail_preferences.quotes_cc %></textarea>
		
			<label for="bcc">BCC</label>
			<textarea type="text" id="bcc" name="bcc" placeholder="BCC"><%= @mail_preferences.quotes_bcc %></textarea>
		</fieldset>
		
		<h4>Body</h4>

		<textarea type="text" id="mail_body" name="mail_body"
			placeholder="Body" style="flex-grow: 1;"><%= @mail_preferences.quotes_body %></textarea>

		<h4>Template</h4>

		<select name="report_template">
			<% Report.all.each do |report| %>
			<option value="<%= report.filename %>"<%= " selected" if report.is_default %>><%= report.filename %></option>
			<% end %>
		</select>

		<div class="mail-box-footer">
			<button class="mail-box-back-button regular-button">Back</button>
			<button id="mail-select-button" class="save-button">Send</button>
		</div>
	</form>
</div>