<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Job #</Data></Cell>
        <Cell><Data ss:Type="String">Customer</Data></Cell>
        <Cell><Data ss:Type="String">Site</Data></Cell>
        <Cell><Data ss:Type="String">Value</Data></Cell>
        <Cell><Data ss:Type="String">Start Date</Data></Cell>
        <Cell><Data ss:Type="String">Date Completed</Data></Cell>
        <Cell><Data ss:Type="String">Date to be Completed</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Classification</Data></Cell>
        <Cell><Data ss:Type="String">Job Analysis</Data></Cell>
        <Cell><Data ss:Type="String">Project Manager</Data></Cell>
      </Row>
    <% @contracts.each do |contract| %>
      <Row>
        <Cell><Data ss:Type="String"><%= contract.job_no %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.customer_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.address_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= contract.value %></Data></Cell>
        <Cell><Data ss:Type="String"><%= date_format(contract.date) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= date_format(contract.completed_date) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= date_format(contract.end_date) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.statusname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.analysis %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.tblContractProjectManager %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>