<% content_for :page_specific_headers do %>
  <script type="text/javascript" src="/assets/contracts/edit.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/contracts.css">
  <script type="text/javascript">
    CONTRACT_ID = <%= @contract.id %>;

    ELIGIBLE_SUBBIES = <%= @eligible_subbies.to_json.html_safe %>;
  </script>
<% end %>

<style type='text/css'>
.select2-container {
    width: 70% !important;
}
</style>

<ul class="sub-menu-bar">
	<li class="menu-back-button"><%= link_to 'Back to list', controller: 'contracts' %></li>
</ul>

<div id="contract-screen-tabs" class="text-section">
	<ul>
		<li><a href="#contract-screen-tabs-details">Details</a></li>
		<li><a href="#contract-screen-tabs-subcontractors">Subcontractors</a></li>
		<li><a href="#contract-screen-tabs-tenders">Tenders</a></li>
		<li><a href="#contract-screen-tabs-defaults">Defaults</a></li>
		<li><a href="#contract-screen-tabs-addresses">Site Addresses</a></li>
		<li><a href="#contract-screen-tabs-maintenanceoptions">Maintenance Options</a></li>
		<li><a href="#contract-screen-tabs-attachedfiles">Attached Files</a></li>
		<li><a href="#contract-screen-tabs-quotes">Quotes</a></li>

		<button id="update-details-button" class="save-button" data-tooltip="Save"><i class="fa fa-save fa-2x"></i></button>
	</ul>
	<div id="contract-screen-tabs-details">
		<%= render "contracts/addeditscreen/details" %>
	</div>
	<div id="contract-screen-tabs-subcontractors">
		<%= render "contracts/addeditscreen/subcontractors" %>
	</div>
	<div id="contract-screen-tabs-tenders">
		<%= render "contracts/addeditscreen/tenders" %>
	</div>
	<div id="contract-screen-tabs-defaults">
		<%= render "contracts/addeditscreen/defaults" %>
	</div>
	<div id="contract-screen-tabs-addresses">
		<%= render "contracts/addeditscreen/addresses" %>
	</div>
	<div id="contract-screen-tabs-maintenanceoptions">
		<%= render "contracts/addeditscreen/maintenanceoptions" %>
	</div>
	<div id="contract-screen-tabs-attachedfiles">
		<%= render "contracts/addeditscreen/attachedfiles" %>
	</div>
	<div id="contract-screen-tabs-quotes">
		<%= render "contracts/addeditscreen/quotes" %>
	</div>
</div>
