<% if status == 1 %>
<a href="/admin/companies/<%= @company.id %>/disable/<%= label %>">
<% else %>
<a href="/admin/companies/<%= @company.id %>/enable/<%= label %>">
<% end %>
	<button type="button" class="btn btn-xs btn-<%= status == 1 ? "primary" : "danger" %>" data-permission="<%= label %>">
	<% if status == 1 %>
	Enabled
	<% else %>
	Disabled
	<% end %>
</button>
</a>
