<table id="company-grid" class="table table-striped">
	<thead>
		<th>ID</th>
		<th>Company Name</th>
		<th></th>
	</thead>
	<tbody>
		<% @companies.each do |company| %>
		<tr>
			<td><%= company.id %></td>
			<td><%= company.display_name %></td>
			<td><a href="/admin/companies/<%=company.id%>">View</a></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= form_tag("/admin/companies", method: "post") do %>
  <%= label_tag(:new_company_name, "Company Name") %>
  <%= text_field_tag(:new_company_name) %>
  <button type="submit" class="btn btn-sm btn-primary">Add Company</button>
<% end %>

<script>
	$("#company-grid").DataTable();
</script>