<table>
	<thead>
		<th>Number</th>
		<th>Ref</th>
		<th>Name</th>
		<th>Started</th>
		<th>Details</th>
		<th>Retention</th>
	</thead>
	<tbody>
		<% @subbies.each do |subbie| %>
		<tr>
			<td><%= subbie.number %></td>
			<td><%= work_ref_pretty(subbie) %></td>
			<td><%= subbie.contractor_name %></td>
			<td><%= date_format(subbie.date_started) %></td>
			<td><%= subbie.details %></td>
			<td><%= subbie.retention %></td>
		</tr>
		<% end %>
	</tbody>
</table>