<div style="float: left; width: calc(50% - 5px); margin-right: 5px; padding-right: 10px;">
	<h2 class="section-title">Change Password  <span class="fa fa-lock"></span></h2>

	<i><a href="http://www.google.co.uk/intl/kn/goodtoknow/online-safety/passwords" target="_blank">Help me pick a good password!</a></i>

	<form class="stacked-form" onsubmit="return false;">
		<label for="old_password">Current password</label>
		<input type="password" id="old_password" name="old_password" 
			placeholder="Old Password">

		<label for="new_password">New password</label>
		<input type="password" id="new_password" name="new_password" 
			placeholder="New Password">
		
		<label for="confirm_new_password">Confirm new password</label>
		<input type="password" id="confirm_new_password" name="confirm_new_password" 
			placeholder="New Password" data-validation="confirmation">

		<span id="password-change-message" class="message-box">
			Error: New passwords do not match.
		</span>

		<button id="update-password-button" class="save-button">Update Password</button>
	</form>
</div>


<div style="float: left; width: calc(50% - 5px); margin-right: 5px; padding-right: 10px;">
	<h2 class="section-title">Notifications <span class="fa fa-exclamation-circle"></span></h2>

	ConstructionManager.Net can notify you when important events happen. To opt-in to events you are interested in, check the appropriate boxes below.<br>

	<%notificationselections=UserNotificationOptIns.where(:user_id => session[:user_id]).pluck(:notification_type)%>
	<%notificationspriorities=UserNotificationOptIns.where(:user_id => session[:user_id]).pluck(:priority)%>
	
	<%notificationtypes=["Maintenance Visit Completion"] #to add more notification types just append this array%>  

	<form class="stacked-form" onsubmit="return false;">
		<table>
			<%notificationtypes.each do |notificationtype|%>
				<tr>
					<td>
						<label for="<%=notificationtype%>">Maintenance Visit Completion</label>
					</td>
					<td style="padding-left:20px;">
						<input class="notification_opt_in"  type="checkbox" name="<%=notificationtype%>" <%="checked" if notificationselections.include?notificationtype%>>
					</td>
					<td>
							<%if notificationselections.include?notificationtype%>
								<select class="notification_opt_in_priority" name="<%=notificationtype%>" style="width:200px;margin-left:20px;">

								<option value='1' <%='selected' if notificationspriorities[notificationselections.index notificationtype]==1 %>>Critical</option>
								<option value='2' <%='selected' if notificationspriorities[notificationselections.index notificationtype]==2 %>>High</option>
								<option value='3' <%='selected' if notificationspriorities[notificationselections.index notificationtype]==3 %>>Normal</option>
							<%else%>
								<select disabled class="notification_opt_in_priority" name="<%=notificationtype%>" style="width:200px;margin-left:20px;">


								<option value='1'>Critical</option>
								<option value='2'>High</option>
								<option value='3'>Normal</option>
							<%end%>
						</select>
					</td>
				</tr>
			<%end%>
		</table>

	</form>
</div>
