<% content_for :page_specific_headers do %>
	<script type="text/javascript" src="/assets/settings.js"></script>
<% end %>

<style>
#settings{
  background: #ecf0f1;
  color: #34495e;
//  text-shadow: -2px 2px 3px #bdc3c7;
  box-shadow: 0px 11px 0px #ECF0F1;
  -webkit-transition: box-shadow 0.3s, background 0.3s;
  transition: box-shadow 0.3s, background 0.3s;
}

#settings:hover{
  box-shadow: none;
//  text-shadow: -2px 2px 3px #34495e;
  -webkit-transition: box-shadow 0.3s, background 0.3s;
  transition: box-shadow 0.3s, background 0.3s;
}
</style>

<div id="settings-tabs">
	<ul>
		<li><a href="#company-settings-tab">Company Settings</a></li>
		<li><a href="#account-settings-tab">User Settings</a></li>
		<li><a href="#mail-templates-tab">Mail Templates</a></li>
		<li><a href="#database-settings-tab">Connection Settings</a></li>
		<li><a href="#clientportal-settings-tab">Client Portal</a></li>
		<li><a href="#defaults-tab">Defaults</a></li>
	</ul>

	<div id="company-settings-tab">
		<%= render "companydetails" %>
	</div>

	<div id="account-settings-tab">
		<%= render "accountsettings" %>
	</div>

	<div id="mail-templates-tab">
		<%= render "mailtemplates" %>
	</div>

	<div id="database-settings-tab">
		<%= render "databasesettings" %>
	</div>

	<div id="clientportal-settings-tab">
		<%= render "clientportalsettings" %>
	</div>

	<div id="defaults-tab">
		<%= render "defaults" %>
	</div>
</div>

<div id="new-user-dialog" title="Invite user" style="display: none;">
	<form id="new-user-form" class="stacked-form" onsubmit="return false;">
		<label for="new-user-email">Email address</label>
		<input id="new-user-email" name="new-user-email">

		<button id="add-user-button" class="save-button full-width">Send Invite via Email</button>
	</form>
</div>