<section class="row">
	<div id="customer-screen-tabs" class="text-section">
		<ul>
			<li><a href="#customer-details-tab">Details</a></li>
			<li><a href="#customer-branch-addresses-tab">Branch Addresses</a></li>
		</ul>
		<div id="customer-details-tab">
			<form id="customer-details-form" class="stacked-form">
				<div style="width: calc(33.3% - 10px); margin: 0 5px; float: left;">
					<h4 class="section-title" style="margin-top: 0; margin-bottom: 10px;">Contact <span class="fa fa-user"></span></h4>

					<label for="name">Company name</label>
					<input id="name" name="name" placeholder="Company name" value="<%= @customer.name %>" data-validation="required">

					<label for="contact_name">Contact name</label>
					<input name="contact_name" placeholder="Contact name" value="<%= @customer.contact_name %>">

					<label for="tel">Telephone</label>
					<input id="tel" name="tel" placeholder="Telephone" value="<%= @customer.tel %>" data-validation="custom" data-validation-regexp="^[\d() -]+$" data-validation-optional="true" data-validation-error-msg="Telephone must be numbers, spaces, parentheses and hyphens only">
					<input name="tel_2" placeholder="Telephone 2" value="<%= @customer.tel_2 %>" data-validation="custom" data-validation-regexp="^[\d() -]+$" data-validation-optional="true" data-validation-error-msg="Telephone must be numbers, spaces, parentheses and hyphens only">

					<label for="fax">Fax</label>
					<input id="fax" name="fax" placeholder="Fax" value="<%= @customer.fax %>" data-validation="custom" data-validation-regexp="^[\d() -]+$" data-validation-optional="true" data-validation-error-msg="Fax must be numbers, spaces, parentheses and hyphens only">

					<label for="email">Email</label>
					<input id="email" name="email" placeholder="Email" value="<%= @customer.email %>" data-validation="email" data-validation-optional="true" data-validation-error-msg="Incorrect email">
					<input name="email2" placeholder="Email 2" value="<%= @customer.email2 %>" data-validation="email" data-validation-optional="true" data-validation-error-msg="Incorrect email 2">
					<input name="email3" placeholder="Email 3" value="<%= @customer.email3 %>" data-validation="email" data-validation-optional="true" data-validation-error-msg="Incorrect email 3">

					<label for="www">Website</label>
					<input id="www" name="www" placeholder="Website" value="<%=@customer.www %>" data-validation="custom" data-validation-regexp="[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" data-validation-optional="true" data-validation-error-msg="Incorrect website">
				</div>

				<div style="width: calc(33.3% - 10px); margin: 0 5px; float: left;">
					<h4 class="section-title" style="margin-top: 0; margin-bottom: 10px;">Address <span class="fa fa-map-marker"></span></h4>

					<label for="address_1">Address</label>
					<input id="address_1" name="address_1" placeholder="Address line 1" value="<%= @customer.address_1 %>">
					<input name="address_2" placeholder="Address line 2" value="<%= @customer.address_2 %>">

					<label for="town">Town</label>
					<input id="town" name="town" placeholder="Town" value="<%= @customer.town %>">

					<label for="region">Region</label>
					<input id="region" name="region" placeholder="Region" value="<%= @customer.region %>">

					<label for="postcode">Postcode</label>
					<input id="postcode" name="postcode" placeholder="Postcode" value="<%= @customer.postcode %>">

					<label for="country_code">Country</label>
					<input id="country_code" name="country_code" placeholder="Country code" value="<%= @customer.country_code %>">
				</div>

				<div style="width: calc(33.3% - 10px); margin: 0 5px; float: left;">
					<h4 class="section-title" style="margin-top: 0; margin-bottom: 10px;">Details <span class="fa fa-search"></span></h4>

					<label for="ref">Ref</label>
					<input id="ref" name="ref" placeholder="Ref" value="<%= @customer.ref %>"<%= " disabled" unless params[:action] == "new"%>>

					<label for="vat_reg_no">VAT reg no.</label>
					<input id="vat_reg_no" name="vat_reg_no" placeholder="VAT reg no." value="<%= @customer.vat_reg_no %>" data-validation="alphanumeric" data-validation-allowing=" ()" data-validation-optional="true" data-validation-error-msg="Invalid VAT number">

					<label for="xid_tax_rate">Tax rate</label>
					<input id="xid_tax_rate" name="xid_tax_rate" placeholder="Tax rate" value="<%= @customer.xid_tax_rate %>">

					<label for="notes">Notes</label>
					<textarea id="notes" name="notes" placeholder="Notes"><%= @customer.notes %></textarea>
				</div>
				<div class="row" style="clear: both;">
				<div id="error-message-wrapper"></div>
				<button id="customer-save-button" class="save-button" style="clear:both;">Save Customer</button>
				</div>
			</form>
		</div>
		<div id="customer-branch-addresses-tab">
			<%= render "branchaddresses" %>
		</div>
	</div>
</section>
