<%=render "partials/mail/header"%>
	Dear <%=@customername%>,<br/>

	<%=@companyname%> has added your company to their client portal on ConstructionManager.Net<br/>
	You can use it to view details of their operations which they have shared with you.<br/>

	The client portal can be accessed from <a href='http://constructionmanager.net/clientportal'>http://constructionmanager.net/clientportal</a><br/><br/>


	Before you will be able to use the client portal, you will need to set up a username and password by clicking the link below<br/><br/>


	<a href='http://constructionmanager.net/clientportal/registration?invite=<%=@invite_code%>'>http://constructionmanager.net/clientportal/registration?invite=<%=@invite_code%></a><br/><br/>


	This link will be usable once, and will expire after 7 days, if you forget your password you can reset it from the client portal page.<br/><br/>

	Thanks, and we look forward to seeing you online!<br/>
<%=render "partials/mail/footer"%>

