<div id="tab_0_tabs" class="smalltabs" style='margin-top:-30px'>
    <ul>
      <li><a href="#maintab0_tab0"><span>Job Information</span></a></li>
      <li><a href="#maintab0_tab1"><span>Visit Information</span></a></li>
    </ul>	

	<div id="maintab0_tab0">
		<form onsubmit="return false;">
			<table style='height:100%;width:100%'>
				<tr>
						<td style='width:410px;'>
						<div class='borderpanel regularfieldspanel' >
							<h5>Basic Information</h5>						
							<table>
								<tr>
									<td class='regularfieldscol1'>
										<label for="contract">Contract</label>
									</td>
									<td class='regularfieldscol2'>
										<%= render "/partials/popups/contract_popup", :contractid=> @maintenancetask.xid_contract%>
									</td>
								</tr>
								<tr>
									<td class='regularfieldscol1'>
										<label for="customer">Customer</label>
									</td>
									<td class='regularfieldscol2'>
										<%= render "/partials/popups/customer_popup",:customerref=> @maintenancetask.xid_customer_ref %>
									</td>
								</tr>	
								<tr>
									<td class='regularfieldscol1' >
										<label for="siteaddress">Site Address</label>
									</td>
									<td class='regularfieldscol2' id="siteaddpopupanchor">

										<%= render "/partials/popups/site_address_popup", :xidcontract => @maintenancetask.xid_contract,:addressid=> @maintenancetask.xid_site_address,:withaddbutton=>true %>
									</td>
								</tr>	
								<tr>
									<td class='regularfieldscol1'>
										<label for="mjob">M-Job No.</label>
									</td>
									<td class='regularfieldscol2'>
										<input id='mjob' value='<%=@maintenancetask.ref_1%>' <%="readonly" if escape_nil(@maintenancetask.ref_1)!=""%> type='text' class='standardinput'>	
										
									</td>
								</tr>
								<tr>
									<td class='regularfieldscol1'>
										<label for="priority">Priority</label>
									</td>
									<td class='regularfieldscol2'>
										<%= render "/partials/popups/maintenance_priority_popup",:priorityid=> @maintenancetask.xid_priority %>
									</td>
								</tr>
								<tr>
									<td class='regularfieldscol1'>
										<label for="createddate">Created Date</label>
									</td>

									<td class='regularfieldscol2'>

										<input id='createddate' value="<%=date_format(@maintenancetask.inception_datetime) if @maintenancetask.inception_datetime!='1899-12-30 00:00:00'%>" class='datepicker'>
										<div  class="input-group clockpicker" data-placement="right" data-align="top" data-autoclose="true">
											<input id="createdtime" type="text" value="<%=time_format_short(@maintenancetask.inception_datetime) if @maintenancetask.inception_datetime!='1899-12-30 00:00:00'%>" class="form-control" value="">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-time"></span>
											</span>
										</div>
									</td>
								</tr>
								<tr>
									<td class='regularfieldscol1'>
										<label for="startdate">Start Date</label>
									</td>
									<td class='regularfieldscol2'>
										<input id='startdate' value="<%=date_format(@maintenancetask.begin_datetime) if @maintenancetask.begin_datetime!='1899-12-30 00:00:00'%>" class='datepicker'>
										<div  class="input-group clockpicker" data-placement="right" data-align="top" data-autoclose="true">
											<input id="starttime"type="text" value="<%=time_format_short(@maintenancetask.begin_datetime) if @maintenancetask.begin_datetime!='1899-12-30 00:00:00'%>" class="form-control" value="">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-time"></span>
											</span>
										</div>
									</td>
								</tr>
								<tr>
									<td class='regularfieldscol1'>
										<label for="plannedcompletiondate">Planned Completion Date</label>
									</td>
									<td class='regularfieldscol2'>
										<input id='plannedcompletiondate' value="<%=date_format(@maintenancetask.planned_completion_datetime) if @maintenancetask.planned_completion_datetime!='1899-12-30 00:00:00'%>" class='datepicker'>
										<div  class="input-group clockpicker" data-placement="right" data-align="top" data-autoclose="true">
											<input id="plannedcompletiontime" type="text" value="<%=time_format_short(@maintenancetask.planned_completion_datetime) if @maintenancetask.planned_completion_datetime!='1899-12-30 00:00:00'%>" class="form-control" value="">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-time"></span>
											</span>
										</div>
									</td>
								</tr>								



								<tr>
									<td class='regularfieldscol1'>
										<label for="createddate">Completed Date</label>
									</td>
									<td class='regularfieldscol2'>
										<input id='completeddate' value="<%=date_format(@maintenancetask.completion_datetime) if @maintenancetask.completion_datetime!='1899-12-30 00:00:00'%>" class='datepicker'>
										<div  class="input-group clockpicker" data-placement="right" data-align="top" data-autoclose="true">
											<input  id="completedtime" type="text" value="<%=time_format_short(@maintenancetask.completion_datetime) if @maintenancetask.completion_datetime!='1899-12-30 00:00:00'%>" class="form-control" value="">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-time"></span>
											</span>
										</div>
									</td>
								</tr>
								<tr>
									<td class='regularfieldscol1'>
										<label for="status">Status</label>
									</td>
									<td class='regularfieldscol2'>
										<%= render "/partials/popups/maintenance_status_popup",:statusid=>@maintenancetask.status %>
									</td>
								</tr>
								<tr>
									<td class="extrafieldscol1" style="vertical-align:top"><label for="workdescription">Description</label></td>
									<td class="extrafieldscol2">
										<input id="workdescription" class="standardinput" maxlength='255' value='<%=@maintenancetask.work_description %>'>
									</td>
								</tr>

							</table>
						</div>
					</td>
					<td style='width:410px;'>
						<div class='borderpanel extrafieldspanel' >
							<table>

								<tr>
									<td class='regularfieldscol1'>
										<label for="jobtype">Sales Type</label>
									</td>
									<td class='regularfieldscol2'>
										<select id='mjobsalestype' class='standarddropdown'>	
											<Option value='0' <%='selected' if @maintenancetask.is_quote==0 && @maintenancetask.is_schedule==0 && @maintenancetask.is_product_invoice==0%> >Cost Plus Markup</Option>
											<Option value='1' <%='selected' if @maintenancetask.is_quote!=0%> >Authorised Price</Option>
											<Option value='2' <%='selected' if @maintenancetask.is_schedule!=0%> >Schedule Of Rates</Option>
											<Option value='3' <%='selected' if @maintenancetask.is_product_invoice!=0%> >Product Invoice</Option>
										</select>
									</td>
								</tr>
								<tr>
									<td class='regularfieldscol1'>
										<label for="mjobvalue">M-Job Value</label>
									</td>
									<td class='regularfieldscol2'>
										<input id='mjobvalue' value='<%=@maintenancetask.order_value%>' type='text' class='standardinput'>	
										
									</td>
								</tr>								
							
								<tr>
									<td class="extrafieldscol1"><label>Project Manager</label></td>
									<td class="extrafieldscol2">
										<%= render "/partials/popups/project_manager_popup",:managerid=>@maintenancetask.xid_project_manager %>
									</td>
								</tr>
								<tr>
									<td class="extrafieldscol1"><label>Customer Address</label></td>
									<td class="extrafieldscol2">
										<%= render "/partials/popups/customer_branch_address_popup",:addressid=>@maintenancetask.xid_customer_branch,:customerref=>@maintenancetask.xid_customer_ref %>
									</td>
								</tr>							
							</table>
						</div>		

						<div class='borderpanel customfieldspanel' >
							<h5>Custom Fields</h5>
							<div id="customfieldspane" style=" overflow: hidden;height:315px ;position: relative;">
							<table >

								<%= render "/partials/maintenance/maintenance_custom_fields"%>		
							</table>
						</div>
						</div>



					</td>
					<td>
						<div class='borderpanel generalinstructionspanel' >					
							<h5>General Instructions</h5>
							<table style='height:510px;width:100%'><tr style='height:50%'><td>
								<label>Instructions</label><br>
								<textarea id="longdescription" style="height:232px;width:100%"><%=@maintenancetask.long_description%></textarea>
							</td></tr>
							<tr style='height:50%'><td>
								<label>Work Carried Out</label><br>
								<textarea id="workcarriedout" style="height:232px;width:100%"><%=@maintenancetask.work_carried_out%></textarea>							
							</td></tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>


	<div id="maintab0_tab1">
		<table style='width:100%;'>
			<tr>
				<td style='width:420px'>
					<div class='borderpanel gridpanel' style='margin-right:10px; margin-bottom:10px; text-align:right'>
						<h5 style='text-align:left;margin-bottom:5px;'>Available Engineers</h5>
						<table id='visitcandidates' style='width:240px;'>
							<!--Loaded by ajax for responsiveness-->
						</table>
						<button id="addvisitbutton" class="save-button" style='width:150px;margin-top:5px'>Add Visit</button>		
					</div>			
				</td>

				<td id='maintenancevisittabs' rowspan=2> 
						<!--Loaded by ajax for responsiveness-->
				</td>
			</tr>
			<tr> 
				<td style='width:420px'>

					<div class='borderpanel gridpanel'  style='margin-right:10px;height:289px'>						
						<h5 style="margin-bottom:5px;">Existing Visits</h5>
						<div style="height:200px;">
							<table id='currentvisits' style='width:370px;'>
								<!--Loaded by ajax for responsiveness-->
							</table>
						</div>
						<div style="margin: 0 auto; width:100%;text-align:right;">
							<button id="visitdeletebutton" class="delete-button" style='width:150px;margin-top:5px'>Delete</button>					
							<button id="visitreassignbutton" class="regular-button" style='width:150px;margin-top:5px'>Reassign</button>	
						</div>	
					</div>			
				</td>
			</tr>
		</table>								
	</div>
</div>

<div id='visitreassigndialog' style='display:none'>
	<table>
		<tr>
			<td style="padding:5px">Reassign visit to engineer:</td>
			<td style="padding:5px" id='visitengineerreassignpopup'></td>
		</tr>
		<tr>
			<td style="padding:5px">Renumber Visit</td>
			<td style="padding:5px"><input id='chkreassignrenumber' checked type='checkbox'></td>
		</tr>		
		<tr><td  style="padding:5px"></td>
			<td style="text-align:right;padding:5px">
				<button id='reassigncancel' style='width:123px;margin-top:10px'>Cancel</button>
				<button id='reassignconfirm' style='width:123px;margin-top:10px'>OK</button>
			</td>

		</tr>

	</table>
</div>

<%=render "/partials/popups/siteaddress_record_form",:addressid=>nil  %>