<%unless params[:xmldata].nil? %>

	<% xmldoc = Nokogiri::XML(params[:xmldata])%>

	<div class="xmlsection">

	<% xmldoc.xpath("//SECTION").each do |xmlsection|%>
		<h3><%=xmlsection.attr("name")%></h3>
		<div>
			<div class="xmlline" style="box-shadow:0px 7px 7px 0px rgba(50, 50, 50, 0.7)">
				<ul>
					<%xmlsection.children.each do |xmlline|%>
						<%if xmlline.name=="LINE"%>
	      				<li><a href="#xmlsection<%="#{xmlsection.attr('name')}#{xmlline.attr("line")}".gsub!(" ","_") %>"><span>Line <%=xmlline.attr("line")%></span></a></li>
	  					<%end%>
      				<%end%>
				</ul>

				<%xmlsection.children.each do |xmlline|%>
					<%if xmlline.name=="LINE"%>				
					<div id="xmlsection<%="#{xmlsection.attr('name')}#{xmlline.attr("line")}".gsub!(" ","_")   %>">
						<table class='xmlfieldstable'>
							<thead>
							<tr>
								<th>Field</th>
								<th>Data</th>
							</tr>
							</thead>
							<tbody>
								<%xmlline.children.reject {|x| x.to_s.gsub(/\s+/, "")  == ""}.each do |xmlfield|%>

									<tr data-fieldid='<%=xmlfield.attr("id")  %>'>
										<td>
											<%=xmlfield.attr("name").to_s.gsub(/\s+/, "")  %>
										</td>
										<td>
											<%=xmlfield.attr("defaultvalue").to_s %>
										</td>									
									</tr>
								<%end%>
							</tbody>
						</table>
					</div>
	  				<%end%>					
				<%end%>
			</div>
		</div>


	<%end%>

<%end%>