
<% fieldIds = Array.new%>
<% DesktopMaintenanceCustomField.select("tblMaintenanceCustomFields_ID,tblMaintenanceCustomFields_Name,tblMaintenanceCustomFields_Type,tblMaintenanceCustomFields_DefaultValue,tblMaintenanceCustomFields_IsRequired").each do |customfield| %>
<% @fieldvalue=@maintenancetask.read_attribute("CustomField" + customfield.tblMaintenanceCustomFields_ID.to_s)%>
<% @fieldvalue=customfield.tblMaintenanceCustomFields_DefaultValue if @maintenancetask.id.nil?%>

<tr>
	<td class='customfieldscol1'>
		<label for="cf<%= customfield.tblMaintenanceCustomFields_Name %>"><%= escape_nil(customfield.tblMaintenanceCustomFields_Name) %></label>
	</td>
	<td class='customfieldscol2'>
		<% case customfield.tblMaintenanceCustomFields_Type %>
		<% when 'Text'%>
			<input id='customfield<%= escape_nil(customfield.tblMaintenanceCustomFields_ID) %>' type='text' value='<%=@fieldvalue%>' class='standardinput' maxlength='255' value='<%= customfield.tblMaintenanceCustomFields_DefaultValue %>'>
		<% when 'Choice'%>
			<select id='customfield<%= escape_nil(customfield.tblMaintenanceCustomFields_ID) %>' class='standarddropdown customfielddropdown'>	
				<%= render "/partials/maintenance/maintenance_custom_field_choices",id: customfield.tblMaintenanceCustomFields_ID,defaultvalue: escape_nil(customfield.tblMaintenanceCustomFields_DefaultValue)%>	
			</select>		
		<% when 'Yes/No'%>
			<select id='customfield<%= escape_nil(customfield.tblMaintenanceCustomFields_ID) %>' class='standarddropdown customfielddropdown'>	
				<Option <%='Selected' if customfield.tblMaintenanceCustomFields_DefaultValue=='Yes'%> >Yes</option>
				<Option <%='Selected' if customfield.tblMaintenanceCustomFields_DefaultValue=='No'%> >No</option>
			</select>				
		<% when 'Date'%>
			<input id='customfield<%= escape_nil(customfield.tblMaintenanceCustomFields_ID) %>' class='datepicker' type='text' maxlength='255' value='<%= escape_nil(customfield.tblMaintenanceCustomFields_DefaultValue) %>'>

		<% end%>
	</td>
</tr>
<% fieldIds.push(customfield.tblMaintenanceCustomFields_ID)%>

<% end %>
<script>
customFieldIds=<%=fieldIds.to_json%>;
</script>