<table id='labourtransactionsgrid' style="width:100%">
	<thead>
		<th>Employee</th>
		<th>Details</th>
		<th>Tender</th>
		<th>Date</th>
		<th>Rate</th>
		<th>Rate Amt.</th>
		<th>Hours</th>
		<th>Pay</th>
		<th>Factor</th>
		<th>Total</th>
		<th>Chargeout</th>
	</thead>
	<tbody>
		<%unless id.nil?%>
			<% sageconnection=CompanyPreferences.first().sage_payroll_connection%>
			<% if sageconnection %>
				<% DesktopLabour.select("*").joins('left join tblemployee on tblEmployee_Reference=tblHours_EmployeeId LEFT JOIN tblEmpPayRate ON tblHours.tblHours_EmployeeId = tblEmpPayRate.tblEmpPayRate_XIDEmployee AND tblHours.tblHours_PaymentRefID = tblEmpPayRate.tblEmpPayRate_XIDPayRate').where(xid_maintenancetask:id).each do |labour| %>

					<tr id="<%= labour.id %>" >
						<td><%= labour.tblEmployee_FirstName<<" "<< labour.tblEmployee_Surname %></td>	
						<td><%= labour.tblHoursDetails %></td>	
						<td><%= labour.tblHoursTenderRef %></td>	
						<td><%= date_format(labour.tblHoursDate) %></td>	
						<td><%= labour.tblHours_RateDescription %></td>	
						<td><%= labour.tblHoursRate %></td>	
						<td><%= labour.tblHours %></td>	
						<td><%= money_format(labour.tblHoursCharged) %></td>	
						<td><%= labour.tblHours_PayFactor %></td>	
						<td><%= money_format(labour.tblHours_PayFactor*labour.tblHoursCharged) %></td>	
						<td><%= money_format(labour.tblHours_ChargeOutTotal) %></td>	
					</tr>
				<% end %>
			<% else %>
				<% DesktopLabour.select("*").joins('left join tblemployeecis on tblEmployeeCIS_Reference=tblHours_EmployeeId LEFT JOIN tblEmpPayRateCIS ON  tblHours.tblHours_PaymentRefID = tblEmpPayRateCIS.tblEmpPayRateCIS_XIDPayRate').where(xid_maintenancetask:id).each do |labour| %>
					<tr id="<%= labour.id %>" >
						<td><%= labour.tblEmployeeCIS_FirstName<<" "<< labour.tblEmployeeCIS_Surname%></td>	
						<td><%= labour.tblHoursDetails %></td>	
						<td><%= labour.tblHoursTenderRef %></td>	
						<td><%= date_format(labour.tblHoursDate) %></td>	
						<td><%= labour.tblHours_RateDescription %></td>	
						<td><%= labour.tblHoursRate %></td>	
						<td><%= labour.tblHours %></td>	
						<td><%= labour.tblHoursCharged %></td>	
						<td><%= labour.tblHours_PayFactor %></td>	
						<td><%= labour.tblHours_PayFactor*labour.tblHoursCharged %></td>	
						<td><%= labour.tblHours_ChargeOutTotal %></td>	
					</tr>
				<% end %>
			<% end %>
		<%end%>

	</tbody>
</table>