<% content_for :page_specific_headers do %>
<script type="text/javascript" src="/assets/site_addresses/index.js"></script>
<% end %>

<ul class="sub-menu-bar">
	<li><a href="/site_addresses/new">New</a></li>
	<li id="edit-address-btn">Edit</li>
	<li id="delete-address-btn">Delete</li>
</ul>

<div class="content-main">
	<table id="addresses-grid" style="opacity: 0;">
		<thead>
			<tr>
				<th>Name</th>
				<th>First Line</th>
				<th>Description</th>
				<th>Job No.</th>
			</tr>
		</thead>
		<tbody>
			<% @site_addresses.each do |address| %>
			<tr id="<%= dom_id(address) %>">
				<td><%= address.name %></td>
				<td><%= address.address_1 %></td>
				<td><%= address.description %></td>
				<td><%= address.job_no %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>