<%
	if addressid.nil?
		@siteaddress=DesktopSiteAddress.new
	else
		@siteaddress=DesktopSiteAddress.find(addressid)
	end
%>

<div id="siteaddresspopupform" style="display:none">
	<form id="address-data-form" onsubmit="return false;">
		<section class="aligned-form" style="width: 50%; float: left;">
			<div>
				<label for="address_name">Name</label>
				<input type="text" id="address_name" name="address[name]" placeholder="Name" value="<%=@siteaddress.name%>">
			</div>

			<div>
				<label for="address_ref">Ref</label>
				<input type="text" id="address_ref" name="address[ref]" placeholder="Ref" value="<%=@siteaddress.ref%>">
			</div>

			<div>
				<label for="address">Street 1</label>
				<input type="text" id="address" name="address[address_1]" placeholder="Street 1" value="<%=@siteaddress.address_1%>">
			</div>

			<div>
				<label for="address_2">Street 2</label>
				<input type="text" id="address_2" name="address[address_2]" placeholder="Street 2" value="<%=@siteaddress.address_2%>">
			</div>

			<div>
				<label for="town">Town</label>
				<input type="text" id="town" name="address[address_3]" placeholder="Town" value="<%=@siteaddress.address_3%>">
			</div>

			<div>
				<label for="county">County</label>
				<input type="text" id="county" name="address[address_4]" placeholder="County" value="<%=@siteaddress.address_4%>">
			</div>

			<div>
				<label for="postcode">Post code</label>
				<input type="text" id="postcode" name="address[address_5]" placeholder="Post code" value="<%=@siteaddress.address_5%>">
			</div>

			<div>
				<label for="fax">Fax</label>
				<input type="text" id="fax" name="address[fax]" placeholder="Fax" value="<%=@siteaddress.fax%>">
			</div>

			<div>
				<label for="tel">Tel</label>
				<input type="text" id="tel" name="address[tel]" placeholder="Tel" value="<%=@siteaddress.tel%>">
			</div>
		</section>
		<section class="aligned-form" style="width: 50%; float: left;">
			<div>
				<label for="workphone">Tel (Work)</label>
				<input type="text" id="workphone" name="address[work_phone]" placeholder="Tel (Work)" value="<%=@siteaddress.work_phone%>">
			</div>

			<div>
				<label for="mobile">Tel (Mobile)</label>
				<input type="text" id="mobile" name="address[mobile_phone]" placeholder="Tel (Mobile)" value="<%=@siteaddress.mobile_phone%>">
			</div>

			<div>
				<label for="homephone">Tel (Home)</label>
				<input type="text" id="homephone" name="address[home_phone]" placeholder="Tel (Home)" value="<%=@siteaddress.home_phone%>">
			</div>

			<div>
				<label for="descrip">Description</label>
				<input type="text" id="descrip" name="address[description]" placeholder="Description" value="<%=@siteaddress.description%>">
			</div>

			<div>
				<label for="email">Email</label>
				<input type="text" id="email" name="address[email]" placeholder="Email" value="<%=@siteaddress.email%>">
			</div>

			<div>
				<label for="contact">Contact</label>
				<input type="text" id="contact" name="address[contact]" placeholder="Contact" value="<%=@siteaddress.contact%>">
			</div>

			<div>
				<label for="analysis1">Analysis 1</label>
				<input type="text" id="analysis1" name="address[analysis_1]" placeholder="Analysis 1" value="<%=@siteaddress.analysis_1%>">
			</div>

			<div>
				<label for="analysis2">Analysis 2</label>
				<input type="text" id="analysis2" name="address[analysis_2]" placeholder="Analysis 2" value="<%=@siteaddress.analysis_2%>">
			</div>

			<div>
				<label for="analysis3">Analysis 3</label>
				<input type="text" id="analysis3" name="address[analysis_3]" placeholder="Analysis 3" value="<%=@siteaddress.analysis_3%>">
			</div>


			<button id="save-address-button" class="save-button" style="margin-top: 20px;width:200px;float:right">Save</button>
			<input type="hidden" id="siteaddressid"  value="<%=@siteaddress.id%>">

		</section>
	</form>
</div>
<script>
	$("#save-address-button").click(function(){
		$('#save-address-button').setButtonActive();

		if($("#siteaddressid").val()==""){
			$.ajax({
				type: 'POST',
				url: '/site_addresses/',
				data: $("#address-data-form").serialize(),
				success: function(response) {
					if (response.success) {
						$('#save-address-button').setButtonSucceeded();
						websocket.emit('site_address_reload', COMPANY_ID);		
						$("#siteaddresspopupform").dialog("close");
					} else {
						$('#save-address-button').setButtonFailed();
					}
				},
				error: function() {
					$('#save-address-button').setButtonFailed();
				}
			});
		}else{
			$.ajax({
				type: 'PATCH',
				url: '/site_addresses/' + $("siteaddressid").val(),
				data: $("#address-data-form").serialize(),
				success: function(response) {
					if (response.success) {
						$('#save-address-button').setButtonSucceeded();
						websocket.emit('site_address_reload', COMPANY_ID);			
						$("#siteaddresspopupform").dialog("close");									
					} else {
						$('#save-address-button').setButtonFailed();
					}
				},
				error: function() {
					$('#save-address-button').setButtonFailed();
				}
			});
		}


	});
</script>