<form action="" id="contract-defaults" class="aligned-form">
	<fieldset style="width: 50%; float: left; margin-right: 5px;">
		<h3 class="section-title">Contract Details <span class="fa fa-edit"></span></h3>

		<div>
			<label for="retention_percentage">Retention %</label>
			<input type="text" id="retention_percentage" name="defaults[retention_percentage]" placeholder="Retention %" value="<%= @contract.retention_percentage %>">
		</div>

		<div>
			<label for="final_retention_percentage">Final retention %</label>
			<input type="text" id="final_retention_percentage" name="final_retention_percentage" placeholder="Final retention %" value="<%= @contract.final_retention_percentage %>">
		</div>

		<div>
			<label for="discount">Discount %</label>
			<input type="text" id="discount_percentage" name="defaults[discount_percentage]" placeholder="Discount %" value="<%= @contract.discount_percentage %>">
		</div>

		<div>
			<label for="retention_period">Retention period (months)</label>
			<input type="text" id="retention_period" name="defaults[retention_period]" placeholder="Retention period (months)" value="<%= @contract.retention_period %>">
		</div>

		<div>
			<label for="retention_and_discount_method">Retention and discount method</label>
			<input type="text" id="retention_and_discount_method" name="defaults[retention_and_discount_method]" placeholder="Retention and discount method" value="<%= @contract.retention_and_discount_method %>">
		</div>

		<div>
			<label for="pay_group">Pay group</label>
			<select id="pay_group" name="defaults[pay_group]">
				<option value="-1">&lt;NONE&gt;</option>
				<% DesktopPayGroup.select(:id, :name).each do |paygroup| %>
				<option value="<%= paygroup.id %>"<%= " selected" if paygroup.id == @contract.pay_group %>><%= paygroup.name %></option>
				<% end %>
			</select>
		</div>
	</fieldset>

	<fieldset>
		<h3 class="section-title">Budget Amounts <span class="fa fa-money"></span></h3>

		<div>
			<label for="materials">Materials</label>
			<input type="text" id="materials" name="defaults[materials]" placeholder="Materials" value="<%= @contract.materials %>">
			<input type="checkbox" id="notify_materials" name="defaults[notify_materials]" title="Notify on overspend"<%= " checked" if @contract.notify_materials == 1 %>>
		</div>

		<div>
			<label for="products">Product costs</label>
			<input type="text" id="products" name="defaults[products]" placeholder="Product costs" value="<%= @contract.products %>">
			<input type="checkbox" id="notify_products" name="defaults[notify_products]" title="Notify on overspend"<%= " checked" if @contract.notify_products == 1 %>>
		</div>

		<div>
			<label for="sublabour">Subcontractor labour</label>
			<input type="text" id="sublabour" name="defaults[sublabour]" placeholder="Subcontractor labour" value="<%= @contract.sublabour %>">
			<input type="checkbox" id="notify_sublabour" name="defaults[notify_sublabour]" title="Notify on overspend"<%= " checked" if @contract.notify_sublabour == 1 %>>
		</div>

		<div>
			<label for="submaterials">Subcontractor materials</label>
			<input type="text" id="submaterials" name="defaults[submaterials]" placeholder="Subcontractor materials" value="<%= @contract.submaterials %>">
			<input type="checkbox" id="notify_submaterials" name="defaults[notify_submaterials]" title="Notify on overspend"<%= " checked" if @contract.notify_submaterials == 1 %>>
		</div>

		<div>
			<label for="labour">Labour costs</label>
			<input type="text" id="labour" name="defaults[labour]" placeholder="Retention and discount method" value="<%= @contract.labour %>">
			<input type="checkbox" id="notify_labour" name="defaults[notify_labour]" title="Notify on overspend"<%= " checked" if @contract.notify_labour == 1 %>>
		</div>

		<div>
			<label for="purchase">Purchase orders</label>
			<input type="text" id="purchase" name="defaults[purchase]" placeholder="Purchase orders" value="<%= @contract.purchase %>">
			<input type="checkbox" id="notify_purchase" name="defaults[notify_purchase]" title="Notify on overspend"<%= " checked" if @contract.notify_purchase == 1 %>>
		</div>
	</fieldset>
</form>

<section style="margin-top: 10px;">
	<button id="update-defaults-button" class="save-button" style="float:right; margin-right:20px; width: 200px;">Update Defaults</button>
</section>