<h3 class="section-title">Details <span class="fa fa-search"></span></h3>
<div class="floating-form-column-container">
	<form class="aligned-form" style="width: 33.3%; float: left;">
		<div>
			<label for="jobno">Job no.</label>
			<input type="text" id="jobno" name="contract_details[job_no]" placeholder="Job no." value="<%= @contract.job_no %>" <%= "disabled" unless params[:action] == "new" || params[:action] == "new_contract_from_quote" %>>
		</div>

		<div>
			<label for="customer">Customer</label>
			<select name="contract_details[customer_ref]" id="customer">
				<% @customers.each do |customer| %>
				<option value="<%= customer.ref %>"<%= " selected" if @contract.customer_ref == customer.ref%>><%= customer.name %></option>
				<% end %>
			</select>
		</div>

		<div>
			<input type="hidden" id="customer_name" name="contract_details[customer_name]" value="<%= @contract.tblContractCustomerName %>">
		</div>

		<div>
			<label for="status">Status</label>
			<select name="contract_details[status]" id="status">
			<%= raw status_select_options %>
			</select>
		</div>

		<div>
			<label for="start_date">Start date</label>
			<input type="text" id="start_date" name="contract_details[date]" placeholder="Start date" value="<%= @contract.date.strftime('%d/%m/%Y') unless @contract.date.nil? %>">
		</div>

		<div>
			<label for="classification">Classification</label>
			<select name="contract_details[classification]" id="classification">
				<% DesktopContractType.select(:id, :name).each do |c| %>
				<option value="<%= c.id %>"<%= " selected" if @contract.classification == c.id %>><%= c.name %></option>
				<% end %>
			</select>
		</div>

		<div>
			<label for="description">Description</label>
			<input type="text" id="description" name="contract_details[description]" placeholder="Description" value="<%= @contract.tblContractDescription %>">
		</div>
	</form>

	<form class="aligned-form" style="width: 33.3%; float: left;">
		<div>
			<label for="value_from_tenders">Contract value from tenders</label>
			<input type="checkbox" id="value_from_tenders" name="contract_details[value_from_tenders]"<%= " checked" if @contract.tblcontracts_CalculateTotalByTender == 1%>>
		</div>

		<div>
			<label for="contract_value">Contract value</label>
			<input type="text" id="contract_value" name="contract_details[value]" placeholder="Contract value" value="<%= @contract.tblContractValue %>">
		</div>

		<div>
			<label for="dayworks">Dayworks</label>
			<input type="text" id="dayworks" name="contract_details[dayworks]" placeholder="Dayworks" value="<%= @contract.tblcontracts_Dayworks %>">
		</div>

		<div>
			<label for="variations">Variations</label>
			<input type="text" id="variations" name="contract_details[variations]" placeholder="Variations" value="<%= @contract.tblcontracts_Variations %>">
		</div>

		<div>
			<label for="total_value">Total value</label>
			<input type="text" id="total_value" placeholder="Total value" value="<%= @contract.total_value %>" disabled>
		</div>
	</form>

	<form class="aligned-form" style="width: 33.3%; float: left;">
		<div>
			<label for="order_no">Order no.</label>
			<input type="text" id="order_no" name="contract_details[order_no]" placeholder="Order no." value="<%= @contract.tblContractXref %>">
		</div>

		<div>
			<label for="to_be_completed">To be completed by</label>
			<input type="text" id="to_be_completed" name="contract_details[end_date]" placeholder="To be completed by" value="<%= @contract.tblContractEndDate.strftime('%d/%m/%Y') unless @contract.tblContractEndDate.nil? %>">
		</div>

		<div>
			<label for="date_completed">Date completed</label>
			<input type="text" id="date_completed" name="contract_details[completed_date]" placeholder="Date completed" value="<%= @contract.tblContractCompletedDate.strftime('%d/%m/%Y') unless @contract.tblContractCompletedDate.nil? %>">
		</div>

		<div>
			<label for="job_analysis">Job analysis</label>
			<select name="contract_details[job_analysis]" id="job_analysis">
				<% DesktopJobAnalysis.select(:id, :name).each do |anal| %>
				<option value="<%= anal.id %>"<%= " selected" if anal.id == @contract.job_analysis %>><%= anal.name %></option>
				<% end %>
			</select>
		</div>

		<div>
			<label for="project_manager">Project manager</label>
			<select name="contract_details[project_manager]" id="project_manager">
				<option></option>
				<% DesktopEmployee.project_managers.select(:ref, "CONCAT(tblEmployee_FirstName,' ',tblEmployee_Surname) AS managername").each do |projectmanager| %>
					<option<%= ' selected' if @contract.project_manager.to_i==projectmanager.ref.to_i%> value='<%=projectmanager.ref %>'><%= projectmanager.managername %></option>
				<% end %>
				<% DesktopEmployeeCIS.project_managers.select(:ref, "CONCAT(tblEmployeeCIS_FirstName,' ',tblEmployeeCIS_Surname) AS managername").each do |projectmanager| %>
					<option<%= ' selected' if @contract.project_manager.to_i==projectmanager.ref.to_i%> value='<%=projectmanager.ref %>'><%= projectmanager.managername %></option>
				<% end %>
			</select>
		</div>
	</form>
</div>

<hr>

<form class="stacked-form" style="clear:both;">
	<label for="special_instructions">Special instructions</label>
	<textarea name="contract_details[special_instructions]" id="special_instructions" cols="30"><%= @contract.tblContractSpecialInst %></textarea>
</form>

<hr>

<% unless params[:action] == "new" %>
<form class="stacked-form" style="clear: left;">
	<label for="notes-list">Notes</label>
	<select name="contract_details[notes-list]" id="notes-list" size="5">
		<% @notes.each do |note| %>
			<option value="<%= note.id %>"><%= note.details %></option>
		<% end %>
	</select>

	<textarea name="contract_details[notes-details]" id="notes-details" cols="30" rows="8"></textarea>

	<div class="button-bar">
		<button id="add-note-button" class="save-button">Add Note</button>
		<button id="delete-note-button" class="delete-button">Delete Note</button>
	</div>
</form>

<hr>
<% end %>
