<h3 class="section-title">Subcontractors <span class="fa fa-group"></span></h3>
<table id="subcontractors-grid">
	<thead>
		<tr>
			<th>Number</th>
			<th>Ref</th>
			<th>Name</th>
			<th>Started</th>
			<th>Details</th>
			<th>Retention</th>
		</tr>
	</thead>
	<tbody>
		<% @related_works.each do |work| %>
		<tr id="<%= dom_id(work) %>">
			<td><%= work.number %></td>
			<td><%= work_ref_pretty(work) %></td>
			<td><%= work.contractor_name %></td>
			<td><%= date_format(work.date_started) %></td>
			<td><%= work.details %></td>
			<td><%= work.retention %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="control-bar" style="margin-top: 10px;">
	<button id="edit-subcontractor-button" class="regular-button">Edit</button>
	<button id="add-subcontractor-button" class="save-button"<%= " disabled" if @eligible_subbies.empty? %>>Add</button>
	<button id="add-all-subbies-btn" class="save-button"<%= " disabled" if @eligible_subbies.empty? %>>Add All</button>
	<button class="regular-button" id="subbies-template-btn">Template</button>
	<button class="regular-button" onclick="openPrintableSubbieList();">Print List</button>
</div>

<div class="control-bar" style="margin-top: 10px;">
	<button class="save-button">Save</button>
	<button class="regular-button">Print</button>
	<button class="regular-button">Close</button>
</div>

<div id="add-subbie-dialog" title="Add Subcontractor - Job <%= @contract.job_no %>" style="display: none;">
	<form class="stacked-form" onsubmit="return false;">
		<fieldset style="width: calc(50% - 5px); float: left; padding-right: 5px;">
			<label for="add_subbie_ac">Contractor A/C</label>
			<select name="" id="add_subbie_ac">
				<% @eligible_subbies.each do |subbie| %>
				<option value="<%= subbie.ref %>"><%= subbie.ref %></option>
				<% end %>
			</select>

			<label for="add_subbie_ret_percentage">Retention %</label>
			<input type="text" id="add_subbie_ret_percentage" value="<%= @subbie_defaults.tblCDefaults_RetP %>">

			<label for="add_subbie_ret_period">Retention period</label>
			<input type="text" id="add_subbie_ret_period" value="<%= @subbie_defaults.tblCDefaults_RetPeriod %>">
		</fieldset>

		<fieldset style="width: calc(50% - 5px); float: left; padding-left: 5px;">
			<label for="add_subbie_name">Name</label>
			<input type="text" id="add_subbie_name" disabled>

			<label for="add_subbie_discount_percentage">Discount %</label>
			<input type="text" id="add_subbie_discount_percentage" value="<%= @subbie_defaults.tblCDefaults_DisP %>">

			<label for="add_subbie_discount_method">Discount method</label>
			<select name="" id="add_subbie_discount_method">
				<option value="0">Before retention</option>
				<option value="1">After retention</option>
				<option value="2">From gross</option>
			</select>
		</fieldset>

		<div class="button-bar">
			<button id="add-subbie-cancel-btn">Cancel</button>
			<button id="add-subbie-confirm-btn">Save</button>
		</div>
	</form>
</div>

<div id="edit-subbie-dialog" title="Edit Subcontractor - Job <%= @contract.job_no %>" style="display: none;">
	<form class="stacked-form" onsubmit="return false;">
		<fieldset style="width: calc(50% - 5px); float: left; padding-right: 5px;">
			<label for="edit_subbie_ret_percentage">Retention %</label>
			<input type="text" id="edit_subbie_ret_percentage">

			<label for="edit_subbie_ret_period">Retention period</label>
			<input type="text" id="edit_subbie_ret_period">
		</fieldset>

		<fieldset style="width: calc(50% - 5px); float: left; padding-left: 5px;">
			<label for="edit_subbie_discount_percentage">Discount %</label>
			<input type="text" id="edit_subbie_discount_percentage">

			<label for="edit_subbie_discount_method">Discount method</label>
			<select name="" id="edit_subbie_discount_method">
				<option value="0">Before retention</option>
				<option value="1">After retention</option>
				<option value="2">From gross</option>
			</select>
		</fieldset>

		<div class="button-bar">
			<button id="edit-subbie-cancel-btn">Cancel</button>
			<button id="edit-subbie-confirm-btn">Save</button>
		</div>
	</form>
</div>

<div id="subbie-template-dlg" title="Subcontractor Templates" style="display: none;">
	<div style="width: 300px; float: left; margin-right: 10px;">
		<table id="subbie-templates-list">
			<thead>
				<tr>
					<td>Templates</td>
				</tr>
			</thead>
			<tbody>
				<% DesktopSubbieTemplate.all.each do |template| %>
				<tr id="<%= dom_id(template) %>">
					<td><%= template.name %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<button id="remove-subbie-template-btn">Remove</button>
		<button id="save-subbie-template-btn">Save</button>
	</div>

	<div style="width: 300px; float: left;">
		<table id="available-subbies-list" style="width: 300px; float: left;">
			<thead>
				<tr>
					<td>Available</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

		<input type="text" id="new-subbie-template-name" style="width: 50%;">
		<button id="create-subbie-template-btn">Create template</button>
	</div>
	

	<table style="width: 40px; float: left; text-align: center; height: 300px;">
		<tr style="vertical-align: bottom;">
			<td><button id="add-subbie-to-template-btn"><i class="fa fa-chevron-right"></i></button></td>
		</tr>
		<tr style="vertical-align: top;">
			<td><button id="remove-subbie-to-template-btn"><i class="fa fa-chevron-left"></i></button></td>
		</tr>
	</table>

	<div style="width: 300px; float: left;">
		<table id="current-subbies-list" style="width: 300px; float: left;">
			<thead>
				<tr>
					<td>Used</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

		<button id="apply-subbie-template-btn" class="right-float">Apply</button>
	</div>
</div>