<% content_for :page_specific_headers do %>
<link rel="stylesheet" type="text/css" href="/assets/reports.css">
<script src="/assets/reports.js"></script>
<script type="text/javascript">COMPANY_ID = <%= session[:company_id] %></script>
<% end %>

<ul class="sub-menu-bar">
	<li id="new-report-button">New</li>
	<li id="edit-report-button">Edit</li>
	<li id="delete-report-button">Delete</li>
	<li id="default-report-button">Set default</li>
	<li id="upload-report-button">Upload</li>
</ul>

<div class="content-main">

	<% if flash[:upload_error] %>
	<div class="notice-box">
		<strong>Warning:</strong> <%= flash[:upload_error] %>
	</div>
	<% end %>

	<section class="text-section">
		<h1>Reports</h1>

		<p>Double click on a report template to edit it.</p>

		<table id="reports-table">
			<thead>
				<th>Report</th>
				<th>Default</th>
			</thead>
			<tbody>
				<% @reports.each do |report| %>
				<% puts report %>
				<tr id="<%= report["filename"] %>">
					<td><%= report["filename"] %></td>
					<td>
						<% if report["filename"] == @default_report %>
						<i class="fa fa-check"></i>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</section>
</div>

<div id="report-upload-dlg" title="Upload Report">
	<%= form_tag({action: :create}, multipart: true) do %>
		<%= file_field_tag 'report' %>
		<input type="submit" value="Upload">
	<% end %>
</div>

