<!DOCTYPE html>
<html>
<head>
  <title>Construction Manager</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="icon" type="image/gif" href="/assets/img/image32.gif?v=3" />
  <link rel="icon" type="image/gif" href="/assets/img/image16.gif?v=3" />
  <meta name="description" content="Manage your contractors, purchase and sales order, invoicing, timetabling and more with Construction Manager.">
  <meta name="viewport" content="width=device-width">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:400|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
  <%= yield :page_specific_headers %>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>

  <link href="/assets/jqueryplugins/flat/blue.css" rel="stylesheet">
  <script src="/assets/jqueryplugins/icheck.min.js"></script>

  <script>
  if (typeof io == 'undefined') {
      document.write(unescape("%3Cscript src='/assets/socket.io-1.0.6.js' type='text/javascript'%3E%3C/script%3E"));
  }
  </script>

  <script type="text/javascript">
  	<% if session[:company_id] %>
  	COMPANY_ID = <%= session[:company_id] %>;
  	<% end %>
  </script>
</head>
<body>
	<div id="wrapperFix">
		<div id="headerFix">
			<% if not ["login","public"].include?(params[:controller]) %>
   			<%= render "partials/header" %>
   			<%= render "partials/menu" %>
  			<% end %> 
		</div>
		<div id="contentFix">
			<%= yield %>
		</div>
	</div>
</body>
</html>